<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/about.css">
    <title>About</title>
    {{> includes}}
</head>

<body>
    <header>
        {{> nav}}
    </header>
    <div class="bg-image">
        <img src="../images/mbgcopy.png" alt="background image">
    </div>
    <main class="column">

        <div class="row">
            <div class="column-left" style="background-color:hsl(203, 97%, 24%);">
                <h3 class="heading-3">About Us</h3>
            </div>
            <div class="column-right" style="background-color:hsl(203, 41%, 72%);">

                <p id="letter-spacing">QuizzME is a quiz application that allows users to test their knowledge on simple math topics.
                    Users
                    can
                    generate random questions and answers to test their knowledge. The application also has a timer
                    to
                    track the time it takes to complete a quiz. Users can subscribe to the application to receive
                    updates
                    on new quizzes and features</p>
            </div>
        </div>

    </main>
    {{!-- <main class="main">
        <section>
            <div>
                <h1>About</h1>
            </div>
        </section>
        <section>
            <article>
                <div>
                    <p>QuizzME is a quiz application that allows users to test their knowledge on a variety of topics.
                        Users
                        can
                        generate random questions and answers to test their knowledge. The application also has a timer
                        to
                        track the time it takes to complete a quiz. Users can subscribe to the application to receive
                        updates
                        on new quizzes and features.</p>
                </div>
            </article>

        </section>
    </main> --}}

    <footer>
        <p>© 2024 QuizzME</p>
    </footer>
</body>

</html>