<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
     {{> includes}}
</head>

<body>
    <header>
       {{> nav}}
    </header>
    <div class="bg-image"></div>
    <h2>About QuizzME</h2>
    <main class="main">

    </main>

    <footer>
        <p>© 2024 QuizzME</p>
    </footer>
</body>

</html>