<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/ad.css">
    <title>Ad Component</title>
</head>

<body>
    <div class="ad-container" id="ad-container">
        <img src="ad-image.jpg" alt="Ad Image" class="ad-image">
        <div class="ad-text">This is an amazing product!</div>
        <button class="close-btn" id="close-btn">Close</button>
    </div>
    <script src="/views/ad.hbs"></script>
</body>

</html>