<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {{> includes}}
</head>

<body>
    <header>
        {{> nav}}
    </header>
    <div class="bg-image"></div>
    <main class="main">

        <div>
            <h1 style="color:rgb(233, 233, 239);">Home</h1>

        </div>

    </main>

    <footer>
        <p>© 2024 QuizzME</p>
    </footer>
</body>

</html>